.add-todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.add-todo-input {
    height: 32px;
    background-color: transparent;
    border: 0;
    border-bottom: .5px solid #ddd;
    margin-right: 10px;
    padding-left: 5px;

}

.add-todo-input::placeholder {
    color: #afafaf;
    padding-left: 5px;
}

.add-todo-button {
    height: 32px;
    background-color: #2b29be;
    outline: none;
    padding: 5px 10px;
    font-weight: 500;
    color: #fff;
    border: 0;
}